hr{
    border-bottom: 1px solid  #1056c7;
    width: 20%;
    margin: 1% auto;
}

#servicos div:nth-child(1)
#servicos div:nth-child(3){
   
    background-color: #f61f1faa;
    }

#conteudos_servicos{
    display: flex;
    justify-content: center;
    gap: 2%;
    flex-wrap: wrap;
}

#conteudos_servicos div{
    border: 1px solid;
    width: 48%;
    overflow: hidden;
    border-radius: 5px;
    margin-top: 2%;
    background: black
}

#conteudos_servicos div img{
    width: 20%;
    display: block;
    margin: 2% auto 0;
}

#inf{
    padding: 1%;
}